In [21]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import requests
import time
import timestring
from datetime import datetime

In [42]:
# fetch the appropriate dataset via API
# city of Chicago
#year = {'year': ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']}
year = {'year': ['2013']} # currently doesn't work for multiple years
url = 'https://data.cityofchicago.org/resource/6zsd-86xi.json'
r = requests.get(url, params=year, stream=True)
chicago_df = pd.DataFrame(r.json())

chicago_df.head()
#chicago_df['primary_type'].describe()
#pd.unique(chicago_df['primary_type'].values.ravel())
#chicago_df['primary_type'].value_counts()
chicago_df.describe()

          arrest   domestic
count       1000       1000
mean        0.35      0.223
std    0.4772083  0.4164666
min        False      False
25%            0          0
50%            0          0
75%            1          0
max         True       True

In [35]:
chicago_df = pd.read_csv('crime_chicago.csv')
chicago_df.describe()

/Applications/anaconda_python_2.7/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,ID,Arrest,Domestic,Beat,District,Ward,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,5842327.000000,5842327,5842327,5842327.000000,4641096.000000,5227423.000000,5793392.000000,5793392.000000,5842327.000000,5793392.000000,5793392.000000
mean,5510762.150537,0.2883697,0.1268024,1199.233245,11.303610,22.586649,1164505.197730,1885626.042400,2007.032433,41.841756,-87.671855
std,2606575.002851,0.453004,0.3327515,704.473403,6.935569,13.794275,16203.676071,31438.221126,4.051279,0.086462,0.058969
min,634.000000,False,False,111.000000,1.000000,1.000000,1092697.000000,1813930.000000,2001.000000,41.644580,-87.934325
25%,3143175.500000,0,0,623.000000,6.000000,10.000000,1152904.000000,1859073.000000,2004.000000,41.768679,-87.713882
50%,5456303.000000,0,0,1111.000000,10.000000,22.000000,1165891.000000,1890022.000000,2007.000000,41.853857,-87.666484
75%,7783873.500000,1,0,1732.000000,17.000000,34.000000,1176332.000000,1909391.000000,2010.000000,41.907163,-87.628470
max,10156579.000000,True,True,2535.000000,31.000000,50.000000,1205152.000000,1951664.000000,2015.000000,42.023025,-87.524389

In [32]:
# city of Washington DC
washington_df = pd.read_csv('crime_incidents_2013_CSV.csv')
#washington_df.head()
pd.unique(washington_df['OFFENSE'].values.ravel())
washington_df['OFFENSE'].value_counts()

THEFT/OTHER                   12904
THEFT F/AUTO                  10130
ROBBERY                        4071
BURGLARY                       3370
MOTOR VEHICLE THEFT            2675
ASSAULT W/DANGEROUS WEAPON     2309
SEX ABUSE                       299
HOMICIDE                        104
ARSON                            35
dtype: int64